{% extends 'base.html.twig' %}

{% block title %} KGB - Ajouter une cible {% endblock %}

{% block content %}
    <h1 class="text-center">Nouvelle Cible</h1>

    {{ include('targets_details/form.html.twig', {'button_label': ''}) }}
{% endblock %}