<form method="post" action="{{ path('agent_delete', {'id': agent.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette donnée ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agent.id) }}">
    <button class="btn btn-sm btn-danger ">Supprimer</button>
</form>