{% extends 'base.html.twig' %}

{% block title %} KGB - Modifier l'agent : {{ agent.alias }}{% endblock %}

{% block content %}
    <h1 class="text-center">Modifier l'agent : {{ agent.alias }}</h1>

    {{ include('agents_details/form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}