{% extends 'base.html.twig' %}

{% block title %} KGB - Modifier la compétence : {{ skill.skill }}{% endblock %}

{% block content %}
    <h1 class="text-center">Modifier la compétence : {{ skill.skill }}</h1>

    {{ include('skills/form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}